<%- include('../partials/boilerplate') %>
    <div class='container'>
        <a href='/todos/add'>Add New Todo</a>
        <% data.todos.forEach(element => { %>
            <div class='todo'>
                <div class='top-row'>
                    <div class='left'>
                    <h1 class='todo-title'><%= element.title %></h1>
                    </div>
                    <div class='right'>
                    <h2 class='todo-sub'><%= element.status %></h2>
                    </div>
                </div>
                <div class='bottom-row'>
                    <div class='left'>
                        <h3><%= element.category %></h3>
                    </div>
                    <div class='right'>
                        <a href='/todos/<%= element.id%>'>Learn More</a>
                        <a href='/todos/<%= element.id%>/edit'>Edit</a>
                        <form method="POST" action="/todos/<%= element.id %>?_method=DELETE">
                            <input type="submit" value="Delete">
                          </form>
                    </div>
                </div>
            </div>
        <% }) %>
    </div>


<%- include('../partials/end') %>