<%- include('../partials/boilerplate') %>
    <div class='container'>
        <% data.todos.forEach(element => { %>
            <div class='todo'>
                <h1 class='todo-title'><%= element.title %></h1>
                <h2 class='todo-sub'><%= element.status %></h2>
                <h3><%= element.category %></h3>
            </div>
        <% }) %>
    </div>



<%- include('../partials/end') %>