<%- include('../partials/boilerplate') %>

    <div class=container>
        <h1><%= data.todo.title %></h1>
        <h2 class='todo-sub'><%= data.todo.status %></h2>
        <h3><%= data.todo.category %></h3>
        <h4><%= data.todo.description %></h4>
    </div>




<%- include('../partials/boilerplate') %>